{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.
            </div>
        {% endif %}
        {% endwith %}

        {% from "_formhelpers.html" import render_field %}
        <form method="POST" action="/login">
            <dl>
                <dd> {{ render_field(form.email, class="input is-large", placeholder="Email") }} </dd> <br/>
                <dd> {{ render_field(form.password, class="input is-large", placeholder="Password") }} </dd>  <br/>
                <dd>
                <label class="checkbox">
                    {{ render_field(form.remember) }} 
                    Remember me
                </label>
                </dd>
                <br/>
            </dl>

            <button type="submit" class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>

    </div>
</div>
{% endblock %}
